/* Roboto: body font */
/* Yeseva One: h1 & h2 font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Yeseva+One&display=swap');



.layoutBG {
  background-Color: #ffffff;
  margin: 0 auto;
  max-Width: 800px;
  min-Height: 70vh;
  max-Height: 90vh;
  overflow: auto;
  padding: 10px;
}

.layoutDiv {
  padding: 8px;
}

/*  ROW SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
  margin: 1% 0px 1% 1.6%;
  /* max-width: 400px; */
}

.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWO  */
.span_2_of_2 {
  width: 100%;
}
.span_1_of_2{
  width: 49.2%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 2%;
}







/* BUTTON ANIMATIONS */

/* Overline From Center */
.hvr-overline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-overline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  top: 0;
  background-image: url(/bgGif.gif);
	background-size: cover;
  height: 1px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.hvr-overline-from-center:hover:before, .hvr-overline-from-center:focus:before, .hvr-overline-from-center:active:before {
  left: 0;
  right: 0;
}

/* Shrink */
.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}


/* STYLING */

html {
  font-family: "Roboto";
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  background-size: 120vw;
  background-repeat: round;
  background-position: top left;
  background-attachment: fixed;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: #ca824f;
  font-family: "Roboto";
  font-weight: normal;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}

header {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
video {
  display: inline-block;
}
a {
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  color: blueviolet;
  outline-width: 0;
  text-decoration: none;
}
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
small {
  font-size: 80%;
}
optgroup {
  font-weight: 700;
}
input {
  font-size: 18px;
  padding: 6px;
  margin-bottom: 2px;
  margin-top: 2px;
  width: 50%;
  border-top : 0px;
  border-left : 0px;
  border-right : 0px;
  border-color : black;
  border-width : 4px;
  box-shadow : none;
  outline: none;
}
select {
  text-transform: none;
}
mark {
  background: rgb(239,204,187);
  background: linear-gradient(90deg, rgba(239,204,187,1) 0%, rgba(220,185,167,0.5760679271708684) 100%);
  padding-bottom: 5px;
}
.headerLink {
  text-decoration: none;
  margin-right: 15;
  font-size: 1rem;
  text-decoration: none;
  transition: all 0.3s;
  opacity: 1;
  cursor: pointer;
  text-align: center;
  align-content: middle;
  background: -webkit-linear-gradient(#7ba429, #294a1e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
.headerLink:hover {
  /* opacity: 0.3; */
}
.textLink {
  text-decoration: none;
  transition: all 0.3s;
}
.textLink:hover {
  opacity: 0.3;
}
[type="reset"], [type="submit"], button {
  width: 10%;
  /* padding: 8px; */
  background-color: black;
  border-radius: 3px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  font-size: 18px;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 50%;
  height: 100px;
  outline: none;
  overflow: auto;
  border-top : 0px;
  border-left : 0px;
  border-right : 0px;
  border-color : black;
  border-width : 4px;
  box-shadow : none;
  resize: vertical;
  white-space: normal;
}
.resultCard {
  width: 46.5%;
}
.reversed{
  border: 3px solid #000000;
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
	background-color: #ffffff;
  padding: 9px;
  margin-top: -2px;
	border-radius: 3px;
  display: inline-flex;
  vertical-align: middle;
  position: relative;
} 

.reversed:checked {
	background-color: #000000;
  border: 3px solid #000000;
}
.reversed:checked:after {
	content: 'R';
  font-size: 17px;
  font-weight: bold;
	position: absolute;
  top: -1px;
  bottom: 3px;
	left: 3.5px;
	color: #ffffff;
}
[type="date"] {
  padding: 4px;
  box-sizing: border-box;
  /* background-color: black; */
  /* color: white; */
  font-size: 18px;
  font-family: "Source Serif Pro";
  text-transform: uppercase;
}
select {
  border-radius: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 12px;
  width: 50%;
  box-shadow: none;
  box-sizing: border-box;
  background-color: black;
  color: white;
  font-size: 16px;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  font-size: 18px;
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  color: black;
  font: 112.5%/1.45em "Source Serif Pro";
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: white; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white; 
}
img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
/* site titles */
h1 {
  word-wrap: break-word;
  font-size: 4.4vh;
  text-decoration: none;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.25rem;
  margin-bottom: 0.45rem;
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
  font-family: Yeseva One;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  min-width: 3vw;
  text-transform: uppercase;
  line-height: 0.8; 
}
/* UNUSED */
h2 {
  color: black;
  font-family: Yeseva One;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-size: 2.0vw;
}
/* subtitle (Software Engineer | Austin TX) */
h3 {
  color: #cfa860;
  font-family: Yeseva One;
  font-weight: normal;
  /* text-rendering: optimizeLegibility; */
  font-size: 1rem;
  line-height: 0.9;
  margin-top: 0px;
  margin-bottom: 8px;
}
/* UNUSED */
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: "Yeseva One";
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
/* UNUSED */
h5 {
  font-size: 0.75rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  background: -webkit-linear-gradient(#546f1c, #e28355);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Roboto";
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* normal text */
h6 {
  z-index: 900;
  font-size: 0.85rem;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0.5rem;
  background: -webkit-linear-gradient(#546f1c, #e28355);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Roboto";
  font-weight: normal;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}

.bulletpoint {
  font-size: 0.7rem;
  padding: 0;
}

.aboutText {
  font-size: 0.88rem;
  margin-top: 3vh;
}

hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  display: flex;
  flex-wrap: wrap;
}
li {
  list-style-type: none;
  /* height: 40vh; */
  margin: 0px;
  flex-grow: 1;
}
li:hover {
  opacity: 0.6;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}

table {
  z-index: 90;
  margin: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  font-size: 0.8rem;
  border-collapse: collapse;
}

.tableText {
  background-color: white;
}

fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: 600;
}
dt {
  font-weight: bold;
} 
th {
  font-weight: bold;
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  /* margin-bottom: 0; */
  flex-grow: 10;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  vertical-align: top;
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 18px;
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "Fira Code iScript";
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}


/* Mouse Over Image for Demo Pictures */
.container {
  position: relative;
  /* width: 50%; */
}

.image {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .middle {
  opacity: 1;
}

.container:hover .image {
  opacity: 0.4;
}

.text {
  background-color:white;
  color: #294a1e;
  font-family: "Yeseva One";
  font-size: 1rem;
  padding: 16px 32px;
  transition: all 1s;
}

.text:hover {
  color: #7ba429;
  transition: all 1s;
}

a.gitHubLink:hover {
  font-style: italic;
}

/* About Me Page */
.aboutPic {
  z-index: 0;
  min-height: 250px;
  max-Height: 35vh;
  min-Width: 250px;
  max-Width: 35vh;
  border-Radius: 100%;
  margin-Left: 4vw;
  margin-Bottom: 0;
}

.contactLink.textLink {
  padding-right: 2.5vw;
  letter-spacing: 2px;
  padding-left: 0.5rem;
  margin-bottom: 0px;
  color: #971500;
  font-Family: "Roboto";
  font-Size: 0.5rem;
  text-transform: uppercase;
  text-Decoration: none;
  transition: all 0.3s;
}

.contactLink,.textLink:hover {
  color: #e28355;
  opacity: 0.7;
}



/* floating contact button */
.contactButton {
  background-color: #294a1e;
  color: white;
  z-index: 999;
  position: fixed;
  top: 200px;
  width: 120px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 0%;
  transition: all .25s ease-in-out;
}

a.contactButton {
  letter-spacing: 2px;
  font-size: .7rem;
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
  line-height: 1.6;
  padding-left: 2px;
  padding-top: 14px;
}

.contactButton:hover {
  transform: scale(1.1);
  color: peachpuff;
  font-style: italic;
}

.contactButtonMobile {
  /* opacity: 0; */
  background-color: #2a551c;
  color: white;
  z-index: 999;
  position: fixed;
  bottom: 50px;
  width: 120px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 0%;
  transition: all .25s ease-in-out;
  box-shadow:2px 0px 90px white;
}

a.contactButtonMobile {
  letter-spacing: 2px;
  font-size: .7rem;
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
  line-height: 1.6;
  padding-left: 2px;
  padding-top: 14px;
}

.contactButtonMobile:hover {
  transform: scale(1.1);
  color: peachpuff;
  font-style: italic;
}

/* CONTACT BUTTON VS MOBILE CONTACT BUTTON */
@media only screen and (min-width: 1000px) {
  .contactButton {
    opacity: 1
  }
  .contactButtonMobile {
    opacity: 0
  }
}

@media only screen and (max-width: 1000px) {
  .contactButton {
    opacity: 0
  }
  .contactButtonMobile {
    opacity: 1
  }
  .aboutText {
    margin-top: 0;
    margin-bottom: 9vh;
  }
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 730px) {
	.col { 
		margin: 1% 0 1% 0%;
  }
  .span_1_of_2 {
    align-content: center;
    text-align: center;
    transition: all .7s;
  }
  h1 {
    padding-top: 0px;
    font-size: 2.2rem;
  }
  h3 {
    font-size: 1.2rem;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
  }
  h6 {
    font-size: 1.1rem;
  }
  .appPage {
    margin-bottom: 0px;
  }
  .bulletpoint {
    text-align: left;
    margin-bottom: 10px;
    font-size: 1.1rem;
  }
  .contactLink.textLink {
    margin: 0vw;
    padding: 5px;
    font-size: 0.69rem;
  }
  .aboutText {
    font-size: 1.2rem;
  }
  table {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 730px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
  }
  a.contactButtonMobile {
    font-size: .9rem;
  }
  .aboutPic {
    margin: 0px;
  }
  .span_1_of_2 {
    align-content: center;
    text-align: center;
    transition: all .7s;
  }
  .headerLink {
    font-size: 0.8rem;
  }
  h1 {
    padding-top: 0px;
  }
  h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  .appPage {
    margin-bottom: 0px;
  }
  .bulletpoint {
    text-align: left;
    margin-bottom: 10px;
    font-size: 1rem;
  }
  .contactLink.textLink {
    margin: 0vw;
    padding: 5px;
    font-size:0.7rem;
  }
  .aboutText {
    font-size: 1.3rem;
  }
}